body {
  background-color: #10141e;
  color: #fff;
}

.box {
  position: relative;
  width: 400px;
  margin: 187px auto 0;
  padding: 32px;
  border-radius: 20px;
  background-color: #161d2f;
}

.box input {
  margin-bottom: 24px;
  font-size: 15px;
  padding: 0 0 18px 16px;
  width: 336px;
  color: #fff;
  background-color: inherit;
  outline: none;
  opacity: 50%;
  border: none;
  border-bottom: 1px solid #5a698f;
}

.box input:focus {
  border-bottom: 1px solid #fff;
  color: #fff;
  opacity: 1;
}

.icon {
  position: absolute;
  top: -82.99px;
  left: 183.86px;
}

h1 {
  margin-bottom: 40px;
  font-weight: 300;
}

p a {
  text-decoration: none;
  color: #fc4747;
  margin-left: 8px;
}

button {
  width: 336px;
  height: 48px;
  background-color: #fc4747;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-weight: 300;
}

button:active {
  background-color: #fff;
  color: #10141e;
}

input,
button,
span {
  cursor: pointer;
}

.error::placeholder {
  color: #fc4747;
}

.error {
  border-bottom: 1px solid #fc4747;
}

#userError {
  color: #fc4747;
  margin: 0;
  margin-bottom: 10px;
}
